*{
  box-sizing: border-box;
}

html {
  --color-primary-300: hsl(277, 73%, 29%); /*(accent)*/
  --color-primary-700: hsl(244, 38%, 16%); /*(card background)*/
  --color-primary-900: hsl(233, 47%, 7%); /*(main background)*/

  --color-secondary-100: hsl(0, 0%, 100%); /*(main heading, stats)*/
  --color-secondary-150: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
  --color-secondary-200: hsla(0, 0%, 100%, 0.6); /*(stat headings)*/

  --font-primary: "Inter", sans-serif;
  --font-secondary: "Lexend Deca", sans-serif;
}

body {
  background-color: var(--color-primary-900);
  color: white;
}

main {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card {
  overflow: hidden;
  border-radius: 10px;
  max-width: 90%;
  
}

#images{
  position: relative;
  flex: 1.3;
}

img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;

  /*To eliminate the random spacing between the img and div */
  vertical-align: middle;
}

#desktop-img{
  display: none;
}

/*To add the color overlay on the images*/
#color-overlay{
  width: 100%;
  height: 100%;
  background: var(--color-primary-300);
  opacity: .6;
  z-index: 1;
  position: absolute;
}

#item-content {
  background-color: var(--color-primary-700);
  font-family: var(--font-secondary);
  text-align: center;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

h1 {
  font-size: 1.8rem;
  color: var(--color-secondary-100);
}

span {
  color: hsl(277, 69%, 58%);
}

h1,
h2 {
  font-family: var(--font-primary);
}

#item-content p {
  font-size: 0.9rem;
  color: var(--color-secondary-150);
}

h2 {
  font-size: 1.5rem;
  color: var(--color-secondary-200);
  margin-bottom: 0.5rem;
}

#benefits p {
  text-transform: uppercase;
  color: var(--color-secondary-100);
  margin-top: 0.5rem;
}

.attribution {
  margin-top: 2rem;
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(277, 69%, 58%);
  text-decoration: none;
}

@media (min-width: 970px){
  #card {
    display: flex;
    flex-direction: row-reverse;
    max-width: 80%;
  }

  #item-content{
    padding: 5rem ;
    text-align: start;
    
  }

  h1{
    font-size: 2.5rem;
  }

  #item-info p{
    font-size: 1.1rem;
  }

  #benefits{
    display: flex;
    justify-content: space-between;
  }

  #desktop-img{
    display: block;
  }

  #mobile-img{
    display: none;
  }

  
}
